<div id="main_header" class="ib-widget-header ib-widget-header-choice ib-hidden">
    <a ng-show="buttonsList.back" ng-click="goBackTo()"
            class="mcf-button-arrow mcf-button-previous backspan"> 
            <span>{{backButtonLabel}}</span>
        </a>
    <a ng-show="buttonsList.home" ng-click="goToHome()" class="home-button homespan"></a>
    <span>{{heading}}</span>
    <ul id="langtab" class="mcf-segmentedcontrol" ng-show='buttonsList.multiLanguage'>
        <li ng-class="{langSelected:currentLanguage=='nl'}" ng-click="changeLanguage('nl')">NL</li>
        <li ng-class="{langSelected:currentLanguage=='en'}" ng-click="changeLanguage('en')">EN</li>
    </ul>
    <span ng-show="buttonsList.print" class="print-button" ng-print="" ng-click="print()" />
</div>